:root {
  --main-color: #AC87C5;
  --accent-color: #b987db;
  --text-color: #0b0b0b;
  --secondary-color: #c9a7df;
  --bg-color: #F4F4F8;
}

.navbar {
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: var(--text-color);
  font-size: 20px;
  z-index: 1;
  background-color: transparent;
}

.logo {
  width: 60px;
  color: var(--main-color);
  cursor: default;
  font-weight: 700;
}

.buttons a {
  margin-left: 10px;
  padding: 10px;
  color: var(--text-color);
  text-decoration: none;
}

.buttons a:hover {
  color: var(--main-color);
}

.buttons .btn-login {
  padding: 5px 16px;
  border: 2px solid var(--main-color);
  border-radius: 35px;
}

.buttons .btn-login:hover {
  border: 2px solid transparent;
  transition: .2s;
}

.buttons .btn-login:not(:hover) {
  transition: .2s;
}

.buttons .btn-signup:hover {
  transition: .2s;
}

.buttons .btn-signup:not(:hover) {
  transition: .2s;
}
