:root {
  --main-color: #AC87C5;
  --accent-color: #b987db;
  --text-color: #0b0b0b;
  --secondary-color: #c9a7df;
  --bg-color: #F4F4F8;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
}

.bg {
  background-image: url('../public/hero-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 50px);
}

.registration-container {
  max-width: 360px;
  margin: 5px auto;
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 13px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container {
  max-width: 360px;
  margin: 5px auto;
  background-color: var(--secondary-color);
  padding: 30px;
  border-radius: 13px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: var(--text-color);
  text-align: center;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 5px;
  color: var(--text-color);
}

input,
select {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  font-size: 15px;
}

button {
  padding: 10px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--accent-color);
}

p {
  margin-bottom: 5px;
}