/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,700;1,900&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

::selection {
  background-color: rgba(185, 135, 219, 0.5);
} */

:root {
  --main-color: #AC87C5;
  --accent-color: #b987db;
  --text-color: #0b0b0b;
  --secondary-color: #c9a7df;
  --bg-color: #ffffff;
}

body {
  background-color: white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: #AC87C5;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b987db;
}